<template>
    <div class="create">
        
        
        
        <v-container class="my-5 mx-12" justify-center>
            <h1 class="display-1 my-8 mr-12">Create Travel Order</h1>

            <v-form class="px-6 mt-12" ref="form">
                <v-layout row wrap justify-start>
                    <v-flex xs8 md2 class="mr-4">
                        <v-menu
                            ref="startDateMenu"
                            v-model="startDateMenu"
                            :close-on-content-click="false"
                            :return-value.sync="startDate"
                            transition="scale-transition"
                            offset-y
                            full-width
                            min-width="290px"
                        >
                            <template v-slot:activator="{ on }">
                            <v-text-field
                                v-model="startDate"
                                label="Start date"
                                prepend-icon="mdi-calendar-month"
                                readonly
                                v-on="on"
                                :error-messages="startDateErrors" 
                                @blur="$v.startDate.$touch()"
                            ></v-text-field>
                            </template>
                            <v-date-picker v-model="startDate" no-title scrollable>
                            <v-spacer></v-spacer>
                            <v-btn text color="primary" @click="startDateMenu = false">Cancel</v-btn>
                            <v-btn text color="primary" @click="$refs.startDateMenu.save(startDate)">OK</v-btn>
                            </v-date-picker>
                        </v-menu>
                    </v-flex>

                    <!-- -------------------------------------  -->
                    <v-flex xs4 md2 class="mr-6">
                        <v-menu
                            ref="startTimeMenu"
                            v-model="startTimeMenu"
                            :close-on-content-click="false"
                            :return-value.sync="startTime"
                            transition="scale-transition"
                            offset-y
                            full-width
                            min-width="290px"
                        >
                            <template v-slot:activator="{ on }">
                                <v-text-field
                                    v-model="startTime"
                                    label="Start time"
                                    prepend-icon="mdi-clock-outline"
                                    readonly
                                    v-on="on"
                                    :error-messages="startTimeErrors" 
                                    @blur="$v.startTime.$touch()"
                                ></v-text-field>
                            </template>
                            <v-time-picker v-model="startTime" scrollable format="24hr">
                                <v-spacer></v-spacer>
                                <v-btn text color="primary" @click="startTimeMenu = false">Cancel</v-btn>
                                <v-btn text color="primary" @click="$refs.startTimeMenu.save(startTime)">OK</v-btn>
                            </v-time-picker>
                        </v-menu>
                    </v-flex>

                     <!-- -------------------------------------  -->

                    <v-flex xs8 md2 class="ml-10 mr-4">
                        <v-menu
                            ref="endDateMenu"
                            v-model="endDateMenu"
                            :close-on-content-click="false"
                            :return-value.sync="endDate"
                            transition="scale-transition"
                            offset-y
                            full-width
                            min-width="290px"
                        >
                            <template v-slot:activator="{ on }">
                            <v-text-field
                                v-model="endDate"
                                label="End date"
                                prepend-icon="mdi-calendar-month"
                                readonly
                                v-on="on"
                                :error-messages="endDateErrors" 
                                @blur="$v.endDate.$touch()"
                            ></v-text-field>
                            </template>
                            <v-date-picker v-model="endDate" no-title scrollable>
                            <v-spacer></v-spacer>
                            <v-btn text color="primary" @click="endDateMenu = false">Cancel</v-btn>
                            <v-btn text color="primary" @click="$refs.endDateMenu.save(endDate)">OK</v-btn>
                            </v-date-picker>
                        </v-menu>
                    </v-flex>

                    <v-flex xs4 md2 >
                        <v-menu
                            ref="endTimeMenu"
                            v-model="endTimeMenu"
                            :close-on-content-click="false"
                            :return-value.sync="endTime"
                            transition="scale-transition"
                            offset-y
                            full-width
                            min-width="290px"
                        >
                            <template v-slot:activator="{ on }">
                                <v-text-field
                                    v-model="endTime"
                                    label="End time"
                                    prepend-icon="mdi-clock-outline"
                                    readonly
                                    v-on="on"
                                    :error-messages="endTimeErrors" 
                                    @blur="$v.endTime.$touch()"
                                ></v-text-field>
                            </template>
                            <v-time-picker v-model="endTime" scrollable format="24hr">
                                <v-spacer></v-spacer>
                                <v-btn text color="primary" @click="endTimeMenu = false">Cancel</v-btn>
                                <v-btn text color="primary" @click="$refs.endTimeMenu.save(endTime)">OK</v-btn>
                            </v-time-picker>
                        </v-menu>
                    </v-flex>
                    
                </v-layout>

                

                <!-- *********************************************************************** -->

                <v-layout row wrap justify-start class="mt-12">
                    <v-flex xs12 md4 class="mr-12">
                        <v-text-field v-model="startLocation" label="Start Location" prepend-icon="mdi-home-map-marker" :error-messages="startLocationErrors" @blur="$v.startLocation.$touch()" ></v-text-field>
                        
                    </v-flex>
                    <v-flex xs12 md4 class="mx-8">
                        <v-text-field v-model="endLocation" label="End Location" prepend-icon="mdi-map-marker" :error-messages="endLocationErrors" @blur="$v.endLocation.$touch()"></v-text-field>
                    </v-flex>
                </v-layout>

                <!-- **************************************************************************** -->
                <!-- **************************************************************************** -->

                <v-layout row wrap justify-start class="mt-12">
                    <v-flex xs12 md4 class="mr-12">
                        <v-select
                            v-model="car"
                            :items="cars"
                            item-text="type"
                            :item-value="cars.type"
                            attach
                            chips
                            return-object
                            label="Select Car"
                            prepend-icon="mdi-car"
                            :error-messages="carErrors" 
                            @blur="$v.car.$touch()"
                        ></v-select>
                    </v-flex>

                    <v-flex xs12 md4 class="mx-8">
                        <v-select
                            v-model="selectedTravelers"
                            :items="employees"
                            item-text="name"
                            :item-value="employees.id"
                            return-object
                            attach
                            chips
                            deletable-chips
                            label="Travelers"
                            multiple
                            prepend-icon="mdi-account-search"
                            counter
                            :error-messages="travelersErrors" 
                            @blur="$v.selectedTravelers.$touch()"
                        ></v-select>
                        
                    </v-flex>
                </v-layout>

                
                <v-btn class="primary"  @click="submit">SUBMIT</v-btn>
                

                <div>
                    <br />
                    <br />
                </div>

                <hr />

                <div>

                </div>
                
            </v-form>
        </v-container>
    </div>
</template>

<script>
import { validationMixin } from 'vuelidate'
import { required, maxLength } from 'vuelidate/lib/validators'

export default {
    mixins: [validationMixin],

    data() {
        return {
            startDate: '',
            startDateMenu: false,
            startTime: '',
            startTimeMenu: false,
            endDate: '',
            endDateMenu: false,
            endTime: '',
            endTimeMenu: false,
            startLocation: null,
            endLocation: null,
            car: null,
            selectedTravelers: [],
            employees: [],
            cars: [],
            unavailableCars: []
        }
    },

    validations: {
        startDate: { required },
        startTime: { required },
        endDate: { required },
        endTime: { required },
        startLocation: { required },
        endLocation: { required },
        car: { required },
        selectedTravelers: { 
            required, 
            hasDrivers: val => {
                if(val != null) {
                    for(let i = 0; i < val.length; i++) {
                    if(val[i].isDriver) {
                        return true;
                    }
                    }
                    return false;
                }
                return false;
            },
            maxPassangers: (val, vm) => {
                return vm.hasAvailableSeats();
            }
        }
    },

    computed: {
        startDateErrors() {
            if(this.$v.startDate.$error) {
                return "Field is required!";
            }
        },

        startTimeErrors() {
            if(this.$v.startTime.$error) {
                return "Field is required!";
            }
        },

        endDateErrors() {
            if(this.$v.endDate.$error) {
                return "Field is required!";
            }
        },

        endTimeErrors() {
            if(this.$v.endTime.$error) {
                return "Field is required!";
            }
        },

        startLocationErrors() {
            if(this.$v.startLocation.$error) {
                return "Field is required!";
            }
        },

        endLocationErrors() {
            if(this.$v.endLocation.$error) {
                return "Field is required!";
            }
        },

        carErrors() {
            if(this.$v.car.$error) {
                return "Field is required!";
            }
        },

        travelersErrors() {
            if(this.$v.selectedTravelers.$error) {
                if(this.selectedTravelers.length < 1) {
                    return "Field is required";
                }
                else if(!this.hasDriver()) {
                    return "At least one of the passangers must have driver licence."
                } else if(!this.hasAvailableSeats()) {
                    return "Number of passengers selected exceeds number of available seats in car."
                }
            }
        }
    },

    methods: {
        hasDriver() {
            for(let i = 0; i < this.selectedTravelers.length; i++) {
                if(this.selectedTravelers[i].isDriver) {
                    return true;
                }
            }
            return false;
        },

        hasAvailableSeats() {
            if(this.car != null) {
                return this.car.numberOfSeats >= this.selectedTravelers.length;
            }
            return false;
        },

        
        submit() {
            let travelOrder = {
                startDateTime: this.startDate + "T"+ this.startTime + ":00+02:00",
                endDateTime: this.endDate + "T"+ this.startTime + ":00+02:00",
                startLocation: this.startLocation,
                endLocation: this.endLocation,
                car: this.car,
                travelers: this.selectedTravelers
            }
            this.$http.post("http://localhost:56411/api/travelplans", JSON.stringify(travelOrder))
                .then(response => {console.log(response)}, error => {console.log(error)});
        },
    }, 

    created() {
        this.$http.get("http://localhost:56411/api/Cars")
            .then(response => {
              return response.json();
              })
            .then(data => {
              this.cars = data;
            });

        this.$http.get("http://localhost:56411/api/Employees")
            .then(response => {
              return response.json();
              })
            .then(data => {
              this.employees = data;
            });
    }
}


/*
let travelOrder = {
                startDate: this.startDate,
                startTime: this.startTime,
                endDate: this.endDate,
                endTime: this.endTime,
                startLocation: this.startLocation,
                endLocation: this.endLocation,
                car: this.car,
                travelers: this.selectedTravelers
            }
*/

/*logit() {
            let travelOrder = {
                startDateTime: this.startDate + "T"+ this.startTime + ":00+02:00",
                endDateTime: this.endDate + "T"+ this.startTime + ":00+02:00",
                startLocation: this.startLocation,
                endLocation: this.endLocation,
                car: this.car,
                travelers: this.selectedTravelers
            }
            console.log(JSON.stringify(travelOrder));
        },
*/

//getWithParams() {
            /*let startDateParams = this.startDate.split('-');
            let startTimeParams = this.startTime.split(':');
            let endDateParams = this.endDate.split('-');
            let endTimeParams = this.endTime.split(':');

            let parameters = {
                startYear: startDateParams[0],
                startMonth: startDateParams[1],
                startDay: startDateParams[2],
                startHours: startTimeParams[0],
                startMinutes: startTimeParams[1],
                endYear: endDateParams[0],
                endMonth: endDateParams[1],
                endDay: endDateParams[2],
                endHour: endTimeParams[0],
                endMinutes: endTimeParams[1]
            }*/

            /*let timeSpan = {
                from: this.startDate + "T"+ this.startTime + ":00+02:00",
                to: this.endDate + "T"+ this.startTime + ":00+02:00"
            }*/

            /*let startTimeValues = this.startTime.split(':');
            let endTimeValues = this.endTime.split(':');

            let startDateTime = this.startDate + "-" + startTimeValues[0] + "-" + startTimeValues[1];
            let endDateTime = this.endDate + "-" + endTimeValues[0] + "-" + endTimeValues[1];

            let myurl = "http://localhost:56411/api/cars/" + startDateTime + "/" + endDateTime;

            this.$http.get(myurl)
                .then(response => {
                    return response.json();
                })
                .then(data => {
                    this.unavailableCars = data;
                });

            console.log(myurl);
            //console.log("Time span: " + JSON.stringify(this.unavailableCars));
        },
        print() {
            console.log(JSON.stringify(this.unavailableCars));
        }
    },*/
</script>