<template>
  <div class="home">
    <h1>Home Page</h1>
    <v-btn class="blue white--text">
      <v-icon left>
        email
      </v-icon>
      <span>email me</span>
    </v-btn>
  </div>
</template>

<script>

export default {
  
};
</script>
