<template>
    <div class="manage">
        
        <v-card flat class="my-5 mx-12 pr-12" justify-center>
            <v-layout row justify-start="">
                <v-flex xs4 md4 class="ml-10 my-4">
                    <h1 class="display-1">Manage Travel Orders</h1>
                </v-flex>
            </v-layout>
        </v-card>

        <v-simple-table fixed-header class="mt-5 mx-12" justify-center flat>
            <thead>
            <tr>
                <th class="text-left" v-for="h in headers" :key="h">{{h}}</th>
            </tr>
            </thead>
            <tbody>
                <tr v-for="travelOrder in travelOrders" :key="travelOrder.id">
                    <td>{{ travelOrder.id }}</td>
                    <td>{{ formatDateTime(travelOrder.startDateTime) }}</td>
                    <td>{{ formatDateTime(travelOrder.endDateTime) }}</td>
                    <td>{{ travelOrder.startLocation }}</td>
                    <td>{{ travelOrder.endLocation }}</td>
                    <td>[{{ travelOrder.car.plates }}] - {{travelOrder.car.color}} {{travelOrder.car.type}}</td>
                    <td>
                        <div>
                        <v-chip class="ma-2" color="primary" x-small 
                            v-for="employee in travelOrder.travelers" :key="employee.employeeID">
                            {{employee.name}}
                        </v-chip>
                        </div>
                    </td>
                    <td>
                            <edit-dialog :order="travelOrder"></edit-dialog>
                            
                            <v-btn class="ma-2" @click="deleteTravelOrder(travelOrder.id)" outlined x-small fab color="indigo">
                                <v-icon>delete</v-icon>
                            </v-btn>
                    </td>
                </tr>
            </tbody>
        </v-simple-table>
        
    </div>
</template>

<script>

import EditDialog from '../components/EditDialog';

export default {
    components: {EditDialog},

    data() {
        return {
            headers: ["ID", "Start Time", "End Time", "Start Location", "End Location", "Car", "Travelers", "Actions"],
            travelOrders: []
        }
    
    },

    methods: {
        formatDateTime(datetime) {
            let dateTimeParts = datetime.split('T');
            const time = dateTimeParts[1].split(':');
            return dateTimeParts[0] + " " + time[0] + ":" + time[1];
        },

        deleteTravelOrder(id) {
            this.$http.delete("http://localhost:56411/api/travelplans/" + id)
                .then(response => 
                    {console.log(response)}, 
                    error => {console.log(error)});
                
        },

        getTravelOrder(id) {
            return this.travelOrders.find( i => i.id == id);
        }
    },
    
    created() {
        //const temp = []
        this.$http.get("http://localhost:56411/api/travelplans")
            .then(response => {
              return response.json();
              })
            .then(data => {
              this.travelOrders = data;
            });
        
        
    }
}
</script>