<template>
    <div class="search">
        <!--<v-card class="my-5 mx-12" justify-center flat>
            <v-card-title>
                Travel Orders
                <v-spacer></v-spacer>
                <v-text-field
                    v-model="search"
                    append-icon="search"
                    label="Search"
                    single-line
                    hide-details
                ></v-text-field>
            </v-card-title>

            <v-data-table :headers="headers" :items="travelOrders" ></v-data-table>
        </v-card>-->
        <v-card flat class="my-5 mx-12 pr-12" justify-center>
            <v-layout row justify-center>
                <v-flex xs4 md4 class="ml-10 my-4">
                    <h1 class="display-1">Travel Orders</h1>
                </v-flex>
                <v-spacer></v-spacer>
                <v-flex xs6 md4 class="mr-4">
                    <v-menu
                        ref="monthPickerMenu"
                        v-model="monthPickerMenu"
                        :close-on-content-click="false"
                        :return-value.sync="month"
                        transition="scale-transition"
                        offset-y
                        full-width
                        min-width="290px"
                    >
                        <template v-slot:activator="{ on }">
                        <v-text-field
                            v-model="month"
                            label="Select Month"
                            prepend-icon="mdi-calendar-month"
                            readonly
                            v-on="on"
                        ></v-text-field>
                        </template>
                        <v-date-picker v-model="month" type="month">
                            <v-spacer></v-spacer>
                            <v-btn text color="primary" @click="$refs.monthPickerMenu.save('')">Reset</v-btn>
                            <v-btn text color="primary" @click="monthPickerMenu = false">Cancel</v-btn>
                            <v-btn text color="primary" @click="$refs.monthPickerMenu.save(month)">OK</v-btn>
                        </v-date-picker>
                    </v-menu>
                </v-flex>
            </v-layout>
        </v-card>

        <v-simple-table fixed-header class="my-5 mx-12" justify-center flat>
            <thead>
            <tr>
                <th class="text-left" v-for="h in headers" :key="h">{{h}}</th>
            </tr>
            </thead>
            <tbody>
            <tr v-for="item in travelOrders" :key="item.id">
                <td>{{ item.id }}</td>
                <td>{{ formatDateTime(item.startDateTime) }}</td>
                <td>{{ formatDateTime(item.endDateTime) }}</td>
                <td>{{ item.startLocation }}</td>
                <td>{{ item.endLocation }}</td>
                <td>[{{ item.car.plates }}] - {{item.car.color}} {{item.car.type}}</td>
                <td>
                    <div>
                    <v-chip class="ma-2" color="primary" x-small v-for="i in item.travelers" :key="i.employeeID">
                        {{i.name}}
                    </v-chip>
                    </div>
                </td>
            </tr>
            </tbody>
        </v-simple-table>

        
    </div>
</template>

<script>
export default {
    data() {
        return {
            monthPickerMenu: false,
            month: '',
            headers: ["ID", "Start Time", "End Time", "Start Location", "End Location", "Car", "Travelers"],
            travelOrders: []
        }
    
    },
    methods: {
        
        formatDateTime(datetime) {
            let dateTimeParts = datetime.split('T');
            const time = dateTimeParts[1].split(':');
            return dateTimeParts[0] + " " + time[0] + ":" + time[1];
        }
    },
    watch: {
        month() {
            if(this.month == null || this.month.length < 1) {
                this.$http.get("http://localhost:56411/api/travelplans")
                    .then(response => {
                    return response.json();
                    })
                    .then(data => {
                    this.travelOrders = data;
                    });
            } else {
                let m = this.month.split('-');
                let selectedYear = m[0];
                let selectedMonth = m[1];

                this.$http.get("http://localhost:56411/api/travelplans" + "/" + selectedYear + "/" + selectedMonth)
                    .then(response => {
                    return response.json();
                    })
                    .then(data => {
                    this.travelOrders = data;
                    });
            }
        }
    },
    created() {
        //const temp = []
        this.$http.get("http://localhost:56411/api/travelplans")
            .then(response => {
              return response.json();
              })
            .then(data => {
              this.travelOrders = data;
            });
        
        
    }
}
</script>