<template>
  <v-row>
    <v-dialog v-model="dialog" max-width="600px">
      <template v-slot:activator="{ on }">
        <v-btn class="ma-2" outlined x-small fab color="indigo" v-on="on">
          <v-icon>edit</v-icon>
        </v-btn>
      </template>
      <v-card>
        <v-card-title>
          <span class="display-1">Edit Travel Order</span>
        </v-card-title>
        <v-card-text>
          <v-container>
            <v-form class="px-6 mt-12">
                <v-layout row wrap justify-start>
                    <v-flex xs8 md6 class="mr-4">
                        <v-menu
                            ref="startDateMenu"
                            v-model="startDateMenu"
                            :close-on-content-click="false"
                            :return-value.sync="startDate"
                            transition="scale-transition"
                            offset-y
                            full-width
                            min-width="290px"
                        >
                            <template v-slot:activator="{ on }">
                            <v-text-field
                                v-model="startDate"
                                label="Start date"
                                prepend-icon="mdi-calendar-month"
                                readonly
                                v-on="on"
                                :error-messages="startDateErrors" 
                                @blur="$v.startDate.$touch()"
                            ></v-text-field>
                            </template>
                            <v-date-picker v-model="startDate" no-title scrollable>
                            <v-spacer></v-spacer>
                            <v-btn text color="primary" @click="startDateMenu = false">Cancel</v-btn>
                            <v-btn text color="primary" @click="$refs.startDateMenu.save(startDate)">OK</v-btn>
                            </v-date-picker>
                        </v-menu>
                    </v-flex>

                    <!-- -------------------------------------  -->
                    <v-flex xs4 md4 class="mr-6">
                        <v-menu
                            ref="startTimeMenu"
                            v-model="startTimeMenu"
                            :close-on-content-click="false"
                            :return-value.sync="startTime"
                            transition="scale-transition"
                            offset-y
                            full-width
                            min-width="290px"
                        >
                            <template v-slot:activator="{ on }">
                                <v-text-field
                                    v-model="startTime"
                                    label="Start time"
                                    prepend-icon="mdi-clock-outline"
                                    readonly
                                    v-on="on"
                                    :error-messages="startTimeErrors" 
                                    @blur="$v.startTime.$touch()"
                                ></v-text-field>
                            </template>
                            <v-time-picker v-model="startTime" scrollable format="24hr">
                                <v-spacer></v-spacer>
                                <v-btn text color="primary" @click="startTimeMenu = false">Cancel</v-btn>
                                <v-btn text color="primary" @click="$refs.startTimeMenu.save(startTime)">OK</v-btn>
                            </v-time-picker>
                        </v-menu>
                    </v-flex>

                     <!-- -------------------------------------  -->

                    <v-flex xs8 md6 class="mr-4">
                        <v-menu
                            ref="endDateMenu"
                            v-model="endDateMenu"
                            :close-on-content-click="false"
                            :return-value.sync="endDate"
                            transition="scale-transition"
                            offset-y
                            full-width
                            min-width="290px"
                        >
                            <template v-slot:activator="{ on }">
                            <v-text-field
                                v-model="endDate"
                                label="End date"
                                prepend-icon="mdi-calendar-month"
                                readonly
                                v-on="on"
                                :error-messages="endDateErrors" 
                                @blur="$v.endDate.$touch()"
                            ></v-text-field>
                            </template>
                            <v-date-picker v-model="endDate" no-title scrollable>
                            <v-spacer></v-spacer>
                            <v-btn text color="primary" @click="endDateMenu = false">Cancel</v-btn>
                            <v-btn text color="primary" @click="$refs.endDateMenu.save(endDate)">OK</v-btn>
                            </v-date-picker>
                        </v-menu>
                    </v-flex>

                    <v-flex xs4 md4 >
                        <v-menu
                            ref="endTimeMenu"
                            v-model="endTimeMenu"
                            :close-on-content-click="false"
                            :return-value.sync="endTime"
                            transition="scale-transition"
                            offset-y
                            full-width
                            min-width="290px"
                        >
                            <template v-slot:activator="{ on }">
                                <v-text-field
                                    v-model="endTime"
                                    label="End time"
                                    prepend-icon="mdi-clock-outline"
                                    readonly
                                    v-on="on"
                                    :error-messages="endTimeErrors" 
                                    @blur="$v.endTime.$touch()"
                                ></v-text-field>
                            </template>
                            <v-time-picker v-model="endTime" scrollable format="24hr">
                                <v-spacer></v-spacer>
                                <v-btn text color="primary" @click="endTimeMenu = false">Cancel</v-btn>
                                <v-btn text color="primary" @click="$refs.endTimeMenu.save(endTime)">OK</v-btn>
                            </v-time-picker>
                        </v-menu>
                    </v-flex>
                    
                </v-layout>

                

                <!-- *********************************************************************** -->

                <v-layout row wrap justify-start class="mt-6">
                    <v-flex xs12 md8 class="mr-12">
                        <v-text-field v-model="startLocation" label="Start Location" prepend-icon="mdi-home-map-marker" 
                        :error-messages="startLocationErrors" @blur="$v.startLocation.$touch()"></v-text-field>
                    </v-flex>
                    <v-flex xs12 md8>
                        <v-text-field v-model="endLocation" label="End Location" prepend-icon="mdi-map-marker"
                        :error-messages="endLocationErrors" @blur="$v.endLocation.$touch()"></v-text-field>
                    </v-flex>
                </v-layout>

                <!-- **************************************************************************** -->
                <!-- **************************************************************************** -->

                <v-layout row wrap justify-start class="mt-12">
                    <v-flex xs12 md8 class="mr-12">
                        <v-select
                            v-model="car"
                            :items="cars"
                            item-text="type"
                            :item-value="cars.type"
                            attach
                            chips
                            return-object
                            label="Select Car"
                            prepend-icon="mdi-car"
                            :error-messages="carErrors" 
                            @blur="$v.car.$touch()"
                        ></v-select>
                    </v-flex>

                    <v-flex xs12 md8 >
                        <v-select
                            v-model="selectedTravelers"
                            :items="employees"
                            item-text="name"
                            :item-value="employees.name"
                            return-object
                            attach
                            chips
                            deletable-chips
                            label="Travelers"
                            multiple
                            prepend-icon="mdi-account-search"
                            counter
                            :error-messages="travelersErrors" 
                            @blur="$v.selectedTravelers.$touch()"
                        ></v-select>
                    </v-flex>
                </v-layout>
                
            </v-form>
            
          </v-container>

        </v-card-text>

        <v-card-actions>
          <v-spacer></v-spacer>
          <v-btn color="blue darken-1" text @click="dialog = false">Close</v-btn>
          <v-btn color="blue darken-1" text @click="submit">Save</v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>
  </v-row>
</template>

<script>
import { validationMixin } from 'vuelidate'
import { required, maxLength } from 'vuelidate/lib/validators'

export default {
  //props: ["order"],
  props: {
      order: {type: Object, required: false}
  },

  data() {
        return {
            dialog: false,
            startDate: '',
            startDateMenu: false,
            startTime: '',
            startTimeMenu: false,
            endDate: '',
            endDateMenu: false,
            endTime: '',
            endTimeMenu: false,
            startLocation: this.order.startLocation,
            endLocation: this.order.endLocation,
            car: this.order.car,
            selectedTravelers: this.order.travelers,
            employees: [],
            cars: [],
            unavailableCars: []
        }
    },

    validations: {
        startDate: { required },
        startTime: { required },
        endDate: { required },
        endTime: { required },
        startLocation: { required },
        endLocation: { required },
        car: { required },
        selectedTravelers: { 
            required, 
            hasDrivers: val => {
                if(val != null) {
                    for(let i = 0; i < val.length; i++) {
                    if(val[i].isDriver) {
                        return true;
                    }
                    }
                    return false;
                }
                return false;
            },
            maxPassangers: (val, vm) => {
                return vm.hasAvailableSeats();
            }
        }
    },

    computed: {
        startDateErrors() {
            if(this.$v.startDate.$error) {
                return "Field is required!";
            }
        },

        startTimeErrors() {
            if(this.$v.startTime.$error) {
                return "Field is required!";
            }
        },

        endDateErrors() {
            if(this.$v.endDate.$error) {
                return "Field is required!";
            }
        },

        endTimeErrors() {
            if(this.$v.endTime.$error) {
                return "Field is required!";
            }
        },

        startLocationErrors() {
            if(this.$v.startLocation.$error) {
                return "Field is required!";
            }
        },

        endLocationErrors() {
            if(this.$v.endLocation.$error) {
                return "Field is required!";
            }
        },

        carErrors() {
            if(this.$v.car.$error) {
                return "Field is required!";
            }
        },

        travelersErrors() {
            if(this.$v.selectedTravelers.$error) {
                if(this.selectedTravelers.length < 1) {
                    return "Field is required";
                }
                else if(!this.hasDriver()) {
                    return "At least one of the passangers must have driver licence."
                } else if(!this.hasAvailableSeats()) {
                    return "Number of passengers selected exceeds number of available seats in car."
                }
            }
        }
    },

    methods: {
        hasDriver() {
            for(let i = 0; i < this.selectedTravelers.length; i++) {
                if(this.selectedTravelers[i].isDriver) {
                    return true;
                }
            }
            return false;
        },

        hasAvailableSeats() {
            if(this.car != null) {
                return this.car.numberOfSeats >= this.selectedTravelers.length;
            }
            return false;
        },

        submit() {
            let travelOrder = {
                startDateTime: this.startDate + "T"+ this.startTime + ":00+02:00",
                endDateTime: this.endDate + "T"+ this.startTime + ":00+02:00",
                startLocation: this.startLocation,
                endLocation: this.endLocation,
                car: this.car,
                travelers: this.selectedTravelers
            }
            let url = "http://localhost:56411/api/travelplans/" + this.order.id;
            this.$http.put(url, JSON.stringify(travelOrder))
                .then(response => {console.log(response)}, error => {console.log(error)});
            
            this.dialog = false;
        },

        initializeForm() {
            this.startDate = this.getDateFrom(this.order.startDateTime);
            this.startTime = this.getTimeFrom(this.order.startDateTime);
            this.endDate = this.getDateFrom(this.order.endDateTime);
            this.endTime = this.getTimeFrom(this.order.endDateTime);
        },
        
        getDateFrom(datetime) {
            const datetimeParts = datetime.split('T');
            return datetimeParts[0];
        },

        getTimeFrom(datetime){
            //2019-07-11T12:00:00+02:00
            const datetimeParts = datetime.split('T');
            const time = datetimeParts[1].split(':');
            return time[0] + ":" + time[1];
        }
    },

    created() {
        this.$http.get("http://localhost:56411/api/Cars")
            .then(response => {
              return response.json();
              })
            .then(data => {
              this.cars = data;
            });

        this.$http.get("http://localhost:56411/api/Employees")
            .then(response => {
              return response.json();
              })
            .then(data => {
              this.employees = data;
            });
        
        this.initializeForm();
    }
}
</script>

