<template>
  <v-dialog max-width="800px">
    <v-btn class="ma-2" outlined x-small fab color="indigo">
        <v-icon>edit</v-icon>
    </v-btn>
    <v-card>
      <v-card-title>
        <h2>Add a New Project</h2>
      </v-card-title>
      <v-card-text>
        
      </v-card-text>
    </v-card>
  </v-dialog>
</template>

<script>
export default {
    
}
</script>