<template>
    <div>
    <v-toolbar flat prominent class="ma-3 px-6">
      <v-toolbar-title class="display-2"> Carpool Management</v-toolbar-title>

      <v-spacer></v-spacer>

      <v-toolbar-items>
        <v-btn text class="mx-2" router to="/">Home</v-btn>
        <v-btn text class="mx-2" router to="/Manage">Manage</v-btn>
        <v-btn text class="mx-2" router to="/Create">Create</v-btn>
      </v-toolbar-items>
    </v-toolbar>
  </div>
</template>

<script>
export default {
    
}
</script>